.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2, p {
  margin: 5px;
}

.user-description {
  border: 1px solid black;
  border-radius: 10px;
  height: max-content;
  padding: 5px;
  margin: 10px;
}

h2 {
  text-align: center;
}
