table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

table {
  width: 100%;
  table-layout: auto;
  font-size: max(1.5vw, 16px);
  margin-bottom: 10px;
}

pagination-controls {
  text-align: center;
}

tr:nth-last-child(2n) {
  background: #9cd7ff;
}

tr:nth-last-child(2n+1) {
  background: #cee7ff;
}

img {
  border: 1px solid gray;
}

th:not(:first-child) {
  cursor: pointer;
  transition: all 0.22s ease-in-out;
}

th:not(:first-child):hover {
  box-shadow: 1px 4px 5px 1px #66b9f8;
}

@media screen and (max-width: 800px) {
  table {
    width: 800px;
  }
  .container {
    overflow-y: scroll;
  }
}

.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.22s ease-in-out;
}

a:hover {
  color: rgba(17, 46, 184, 0.76);
}

img {
  transition: all 0.16s ease-in;
}

img:hover {
  border: 1px solid #7d86f8;
  box-shadow: 1px 1px 1px 0 #80bbf3;
}
