table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

table {
  width: 100%;
  table-layout: auto;
  font-size: max(1.5vw, 16px);
}

pagination-controls {
  text-align: center;
}

tr:nth-last-child(2n) {
  background: #9cd7ff;
}

tr:nth-last-child(2n+1) {
  background: #cee7ff;
}

img {
  border: 1px solid gray;
}

th:not(:first-child) {
  cursor: pointer;
  transition: all 0.22s ease-in-out;
}

th:not(:first-child):hover {
  box-shadow: 1px 4px 5px 1px #66b9f8;
}

@media screen and (max-width: 800px) {
  table {
    width: 800px;
  }
  .container {
    overflow-y: scroll;
  }
}

.col1 {
  width: 15%;
}
.col2 {
  width: 20%;
}
.col3 {
  width: 15%;
}
.col4 {
  width: 25%;
}
.col5 {
  width: 25%;
}
