<select [(ngModel)]="selectedParam" (change)="onChangeSelectParam()">
  <option value="name">Name {{'\u21E9'}}</option>
  <option value="name reverse">Name {{'\u21E7'}}</option>
  <option value="username">Username {{'\u21E9'}}</option>
  <option value="username reverse">Username {{'\u21E7'}}</option>
  <option value="email">E-mail {{'\u21E9'}}</option>
  <option value="email reverse">E-mail {{'\u21E7'}}</option>
  <option value="address.city">Address {{'\u21E9'}}</option>
  <option value="address.city reverse">Address {{'\u21E7'}}</option>
</select>
